.current {
  background-color: beige;
  color: black;
  width: 80vw;
  margin: 5vh;
}

.currentBody {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3vh;
}
